@charset "UTF-8";

* {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}
  
  body {
    font-family: Arial;
    padding: 0px;
    background: hsl(0, 13%, 82%);
    margin: auto;
  }
  header{
    
    
  }
  
  #menu{
    list-style: none;
    padding: 0px;
    background-color: rgb(40, 40, 41);
  }

  #menu li{
    display: inline;

  }

  #menu li a{
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    


  }

  #menu li a:hover{
    background-color: rgb(153, 14, 14);
    

  }
  
  
  
  
  
  footer {
    padding: 20px;
    text-align: center;
    background: rgb(230, 0, 142);
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  /*
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }*/
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  /*
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }*/